.black { color: #000}
.almost-black {color: #6B6B6B}
.white { color: #fff}
.success{ color: #1bd47b}
.warning{ color: #ffc027}
.error{ color: #ff4300}
.green{ color: #4BB861}
.blue{ color: #0098D5}
.red{ color: #F45030}
.purple{ color: #76508F}
.orange{ color: #F77336}
.grey{ color: #747474}
.grey-light{ color: #FBFBFB}

.black-bg { background-color: #000}
.almost-black-bg {background-color: #6B6B6B}
.white-bg { background-color: #fff}
.success-bg { background-color: #1bd47b}
.warning-bg { background-color: #ffc027}
.error-bg { background-color: #ff4300}
.green-bg { background-color: #4BB861}
.blue-bg { background-color: #0098D5}
.red-bg { background-color: #F45030}
.purple-bg { background-color: #76508F}
.orange-bg { background-color: #F77336}
.grey-bg { background-color: #747474}
.grey-light-bg { background-color: #FBFBFB}

.display {
  font-size: 2rem;
  font-family: Vollkorn;
  line-height: 1;
  font-weight: 600;
}

.headline {
  font-size: 2rem;
  font-family: Vollkorn;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  font-family: Vollkorn;
  line-height: 1;
  font-weight: 600;
}

.subheadline {
  font-size: 1.5rem;
  font-family: Vollkorn;
  line-height: 1.33;
  font-weight: 600;
}

.label {
  font-size: 1rem;
  line-height: 1.14;
  font-weight: 600;
}

.body {
  font-size: 0.875rem;
  line-height: 1.71;
}

.button-text {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.14;
}

.caption {
  font-size: 0.875rem;
  line-height: 1.71; 
}

.small {
  font-size: 0.625rem;
  line-height: 2.4;
}

.text-center {
  text-align: center;
}

.encadre {
  padding: 0 12px;
  border: solid 1px #dadada;
  position: relative;
  background: #fff;
  margin: 24px 0;
}

.encadre::before {
  content: ' ';
  position: absolute;
  z-index: -1;
  background: #4BB861;
  right: -8px;
  bottom: -8px;
  height: 100%;
  width: 100%;
}

.encadre-black-bg::before { background-color: #000}
.encadre-almost-black-bg::before {background-color: #6B6B6B}
.encadre-white-bg::before { background-color: #fff}
.encadre-success-bg::before { background-color: #1bd47b}
.encadre-warning-bg::before { background-color: #ffc027}
.encadre-error-bg::before { background-color: #ff4300}
.encadre-green-bg::before { background-color: #4BB861}
.encadre-blue-bg::before { background-color: #0098D5}
.encadre-red-bg::before { background-color: #F45030}
.encadre-purple-bg::before { background-color: #76508F}
.encadre-orange-bg::before { background-color: #F77336}
.encadre-grey-bg::before { background-color: #747474}
.encadre-grey-light-bg::before { background-color: #FBFBFB}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 8px 12px;
}

tr:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.1)
}

tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.2)
}

@media (min-width: 768px) {
  .display {
    font-size: 3.5rem;
    line-height: 1.12;
  }

  .title {
    font-size: 2.5rem;
    line-height: 1.12;
  }

  .body {
    font-size: 1.125rem;
    line-height: 1.78;
  }

  .encadre {
    padding: 0 24px;
    margin: 34px 0;

  }
  .encadre::before {
    right: -16px;
    bottom: -16px;
  }

  td {
    padding: 16px 18px;
  }
}