.black { color: #000}
.almostBlack {color: #6B6B6B}
.white { color: #fff}
.success{ color: #1bd47b}
.warning{ color: #ffc027}
.error{ color: #ff4300}
.green{ color: #4BB861}
.blue{ color: #0098D5}
.red{ color: #F45030}
.purple{ color: #76508F}
.orange{ color: #F77336}
.grey{ color: #747474}
.greyLight{ color: #FBFBFB}

.black-bg { color: #000}
.almostBlack-bg {color: #6B6B6B}
.white-bg { color: #fff}
.success-bg { color: #1bd47b}
.warning-bg { color: #ffc027}
.error-bg { color: #ff4300}
.green-bg { color: #4BB861}
.blue-bg { color: #0098D5}
.red-bg { color: #F45030}
.purple-bg { color: #76508F}
.orange-bg { color: #F77336}
.grey-bg { color: #747474}
.greyLight-bg { color: #FBFBFB}

.display {
  font-size: 2rem;
  font-family: Vollkorn;
  line-height: 1;
  font-weight: 600;
}

.headline {
  font-size: 2rem;
  font-family: Vollkorn;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  font-family: Vollkorn;
  line-height: 1;
  font-weight: 600;
}

.subheadline {
  font-size: 1.5rem;
  font-family: Vollkorn;
  line-height: 1.33;
  font-weight: 600;
}

.label {
  font-size: 1rem;
  line-height: 1.14;
  font-weight: 600;
}

.body {
  font-size: 0.875rem;
  line-height: 1.71;
}

.buttonText {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.14;
}

.caption {
  font-size: 0.875rem;
  line-height: 1.71; 
}

.small {
  font-size: 0.625rem;
  line-height: 2.4;
}

.center {
  text-align: center;
}

@media (min-width: 768px) {
  .display {
    font-size: 3.5rem;
    line-height: 1.12;
  }

  .title {
    font-size: 2.5rem;
    line-height: 1.12;
  }

  .body {
    font-size: 1.125rem;
    line-height: 1.78;
  }
}